<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.mis.mapper.ExcelMapper">
    <delete id="deleteByAccountAndDate">
        delete from import_data where user_id=(select user_id from user where user_account=#{userAccount}) and import_time=#{date}
    </delete>


</mapper>
