<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.mis.mapper.UserMapper">

    <select id="getUserByAccount" resultType="com.cs.mis.entity.UserEntity">
        select * from user where user_account = #{userAccount}
    </select>

    <insert id="insertUser" parameterType="com.cs.mis.entity.UserEntity">
        insert into user (user_account,user_name,user_pwd,center,user_type,user_status)
        values (#{userAccount},#{userName},#{userPwd},#{center},#{userType},#{userStatus})
    </insert>

    <update id="updatePwdByAccount" >
        update user set user_pwd = #{newPwd} where user_account = #{userAccount}
    </update>

    <update id="updateStatusByAccount">
        update user set user_status = #{newStatus} where user_account = #{userAccount}
    </update>
    
    <select id="getUsersByTypeAndAccount" resultType="com.cs.mis.entity.UserEntity">
        select user_account,user_name,center,user_status from user where user_type = #{userType}
        <if test="userAccount != null">
            and user_account like concat('%',#{userAccount},'%')
        </if>
    </select>

    <select id="getCenterByAccount" resultType="java.lang.String">
        select center from user where user_account = #{userAccount}
    </select>

    <select id="getIdByAccount" resultType="int">
        select user_id from user where user_account = #{userAccount}
    </select>

</mapper>